In [1]:
import numpy as  np 
import pandas as pd

In [2]:
data = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [3]:
df=pd.DataFrame(data)

In [4]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
#performing label encoding on the gender column
gender_map ={"Male":1,"Female":0}
df["gender"]=df["gender"].map(gender_map)

In [6]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,0.0,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,1.0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,0.0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,0.0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0.0,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,0.0,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,0.0,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,1.0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,0.0,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [7]:
df["smoking_status"].value_counts()["Unknown"]

1544

In [8]:
df = df[df['smoking_status'] != 'Unknown']

In [9]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,0.0,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,1.0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,0.0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,0.0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5102,45010,0.0,57.0,0,0,Yes,Private,Rural,77.93,21.7,never smoked,0
5105,18234,0.0,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,0.0,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,0.0,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,1.0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0

In [10]:
df = df.dropna(subset=["bmi"])

In [11]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,1.0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,0.0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,0.0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,1.0,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5100,68398,1.0,82.0,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked,0
5102,45010,0.0,57.0,0,0,Yes,Private,Rural,77.93,21.7,never smoked,0
5106,44873,0.0,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,0.0,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,1.0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0

In [12]:
df["smoking_status"].unique()

array(['formerly smoked', 'never smoked', 'smokes'], dtype=object)

In [13]:
#performing label encoding on the Smoking_status column

smoking_encoded = {'formerly smoked':0.5, 'never smoked':0, 'smokes':1 }
df["smoking_status"] = df["smoking_status"].map(smoking_encoded)

<ipython-input-13-d95253f8013a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["smoking_status"] = df["smoking_status"].map(smoking_encoded)

In [14]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,Yes,Private,Urban,228.69,36.6,0.5,1
2,31112,1.0,80.0,0,1,Yes,Private,Rural,105.92,32.5,0.0,1
3,60182,0.0,49.0,0,0,Yes,Private,Urban,171.23,34.4,1.0,1
4,1665,0.0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,0.0,1
5,56669,1.0,81.0,0,0,Yes,Private,Urban,186.21,29.0,0.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5100,68398,1.0,82.0,1,0,Yes,Self-employed,Rural,71.97,28.3,0.0,0
5102,45010,0.0,57.0,0,0,Yes,Private,Rural,77.93,21.7,0.0,0
5106,44873,0.0,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,0.0,0
5107,19723,0.0,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,0.0,0
5108,37544,1.0,51.0,0,0,Yes,Private,Rural,166.29,25.6,0.5,0

In [15]:
df.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [16]:
x_train =df[['gender', 'age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi','smoking_status']]

In [17]:
x_train = x_train.reset_index()

In [18]:
#normalising age,avg_glucose_level,bmi 
x_train["age"] = (x_train["age"]-x_train["age"].min())/(x_train["age"].max()-x_train["age"].min())
x_train["avg_glucose_level"] = (x_train["avg_glucose_level"]-x_train["avg_glucose_level"].min())/(x_train["avg_glucose_level"].max()-x_train["avg_glucose_level"].min())
x_train["bmi"] = (x_train["bmi"]-x_train["bmi"].min())/(x_train["bmi"].max()-x_train["bmi"].min())

In [19]:
x_train.drop("index",axis=1,inplace=True)

In [20]:
y_train = df["stroke"]

In [21]:
# we know that linear regression= sigmoid = = 1/1+e^-z
#where z = w.x + z 
def sigmoid(z):
    g= 1/(1+np.exp(-z))
    
    return g

In [22]:
sigmoid(0)

0.5

In [23]:
#calculating cost for the model 
def comp_cost(x,y,w,b):
    
    m,n = x.shape
    print("m",m)
    print("n",n)
    z_wb =0
    loss_sum=0
    epsilon = 1e-15 
    
    for i in range(m):
        for j in range(n):
            z_wb_j =  w[j]*x.iloc[i][j] 
            z_wb+=z_wb_j
        z_wb+=b
        #print(z_wb)
        func = sigmoid(z_wb)
        #print(func)
        loss = (-y.iloc[i] * np.log(func + epsilon)) - (1 - y.iloc[i]) * np.log(1 - func + epsilon)
        #print("loss",loss)
        loss_sum+= loss
        #print("loss_sum",loss_sum)
        #print("i",i)
    cost = loss_sum/m
    print("cost",cost)
    return cost

In [24]:
n = 7
# Compute and display cost with w and b initialized to zeros
initial_w = np.array([1,2,3,4,5,6,7])
initial_b = 0
cost = comp_cost(x_train, y_train, initial_w, initial_b)
print('Cost at initial w and b (zeros): {:.3f}'.format(cost))

m 3426
n 7
cost nan
Cost at initial w and b (zeros): nan

In [25]:
print(x_train.loc[[2098]])

      gender       age  hypertension  heart_disease  avg_glucose_level  \
2098     NaN  0.222222             0              0           0.407211

           bmi  smoking_status
2098  0.135404             0.5